	path = themes/wow
	url = https://github.com/bsag/wow
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo
[submodule "themes/hugo-theme-sam"]
	path = themes/hugo-theme-sam
	url = https://github.com/hivickylai/hugo-theme-sam
